<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/jumbotron.css">
        <link rel="stylesheet" href="/stylesheets/jquery.timepicker.css">
        <link rel="stylesheet" href="stylesheets/style.css">

        <title><%= title %></title>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- nav bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Down for this?</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createEventModal">Create Event</button>
                        <a class="btn btn-link" style="color:#fff;" href="/login/logout">Logout</a>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
        <!-- end nav bar -->


        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <% for( var i = 0; i < events.length; i++) {%>
                <div class="col-xs-12 col-sm-6 col-md-4" id="event-<%= events[i].event_id %>" data-currentstate="<%= events[i].event_status %>">
                    <div class="event <%= events[i].event_status>=2 ? 'gray-event' : ''%>">
                    <div class="event-header clearfix">
                        <%if(events[i].event_status == 0) {%>
                        <button data-currentstate="<%= events[i].status %>" onclick="changeAttendState(<%= events[i].event_id %>)" class="attendingButton btn btn-default btn-sm pull-right"><%- events[i].status == 0 ? '<span class="org" title="Click to toggle response">Needs response</span>':(events[i].status == 1 ? '<span class="glyphicon glyphicon-ok grn" aria-hidden="true"></span>':'<span class="glyphicon glyphicon-remove rd" aria-hidden="true"></span>') %></button>
                        <% } else { %>
                        <button data-dismiss="<%= events[i].status %>" onclick="dismissEvent(<%= events[i].event_id %>)" class="btn btn-default btn-sm pull-right"><span>Hide event</span></button>
                        <% } %>
                        <h3><%= events[i].title %></h3>
                    </div>
                    <p>At <%=events[i].location %></p>
                    <p>Respond by <%= events[i].response_deadline.getMonth() + 1 + '/' + events[i].response_deadline.getDate() + '/' + events[i].response_deadline.getFullYear() %> at <%= events[i].response_deadline.getHours() + ':' + (events[i].response_deadline.getMinutes()<10?'0':'')+events[i].response_deadline.getMinutes() %> </p>
                    <p>Starts <%= events[i].start_time.getMonth() + 1 + '/' + events[i].start_time.getDate() + '/' + events[i].start_time.getFullYear() %> at <%= events[i].start_time.getHours() + ':' + (events[i].start_time.getMinutes()<10?'0':'')+events[i].start_time.getMinutes() %> </p>
                    <p><%= events[i].description %></p>
                    <hr />
                    <div class="clearfix">
                        <% if( user.id == events[i].owner_id ) { %>
                        <% if(events[i].event_status == 0)  { %>
                        <p><a onclick="changeInviteModalEventId(<%= events[i].event_id %>)" class="btn btn-primary pull-right" href="#" role="button" data-toggle="modal" data-target="#invitePeopleModal">Invite People (<%= events[i].number_invited -1 %>)</a></p><div class="clearfix"></div>
                        <% } else { %>
                        <p><a onclick="showInvitedPeopleModal(<%= events[i].event_id %>)" class="" href="#" role="button" data-toggle="modal" data-target="#showInvitedPeopleModal"><%= events[i].number_attending %> <%= events[i].number_attending==1?'person':'people' %> attended</a></p>
                        <% } } else { %>
                        <img class="img-circle" height="42" width="42" src="<%=events[i].owner_image%>" style="float:left">
                        <p style="margin-left:50px;">Invited by <%=events[i].owner_name%><%if(events[i].event_status==0) {%> along with <a onclick="showInvitedPeopleModal(<%= events[i].event_id %>)" class="" href="#" role="button" data-toggle="modal" data-target="#showInvitedPeopleModal"><%= events[i].number_invited -2 %> other <%=events[i].number_invited==3?'person':'people'%> </a><%} else {%>, attended by <a onclick="showInvitedPeopleModal(<%= events[i].event_id %>)" class="" href="#" role="button" data-toggle="modal" data-target="#showInvitedPeopleModal"><%=events[i].number_attending%> <%=events[i].number_attending==1?'person':'people' %></a> <%}%></p>
                        <% } %>
                    </div>
                    </div>
                </div>
                <% } %>
            </div>

            <hr>

            <footer>
                <p style="text-align: center; height: 14px">&copy; <img src="/img/michrosoft.png" style="height: 13px; vertical-align: baseline"/> 2015</p>
                
            </footer>
        </div> <!-- /container -->

        <!-- create event modal -->
        <div class="modal fade" id="createEventModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <form action="/events" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Event</h4>
                        </div>
                        <div class="modal-body">
                            <label for="eventName">Event Name</label>
                            <input type="text" class="form-control" id="eventName" placeholder="BBQ at Chuck's" name="title">
                            <label for="eventLocation">Location</label>
                            <input type="text" class="form-control" id="eventLocation" placeholder="1402 Main St." name="location">
                            <label for="eventTime">Event Time</label>
                            <p id='eventTime'>
                                <input type="text" class="date" placeholder="mm/dd/yyyy" name="start_date"/>
                                <input type="text" class="time" placeholder="00:00" name="start_time" />
                            </p>
                            <label for="eventTime">People Must Respond By</label>
                            <p id='respondTime'>
                                <input type="text" class="date" placeholder="mm/dd/yyyy" name="response_date"/>
                                <input type="text" class="time" placeholder="00:00" name="response_time"/>
                            </p>
                            <label for="eventAttendance">Minimum Attendance</label>
                            <input type="number" class="form-control" id="eventAttendance" placeholder="0" name="minimum_attendance">
                            <label for="eventDescription">Event Description</label>
                            <input type="text" class="form-control" id="eventDescription" placeholder="Come enjoy BBQ and stand around awkwardly" name="description">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
                <!-- end Modal content -->
                
            </div>
        </div>
        <!-- end create event modal -->

        <div class="modal fade" id="invitePeopleModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <form action="/invitations/inviteFromEmail" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Invite People</h4>
                        </div>
                        <div class="modal-body">
                            <label for="inviteEmail">Invite by Email Address</label>
                            <input type="hidden" id="inviteModalEventId" name="eventId" value="">
                            <input type="email" class="form-control" id="inviteEmail" placeholder="larry@gmail.com" name="email">
                            <h4>Favorites</h4>
                            <div id='favoritePeopleButtons'></div>
                            <hr>
                            <h4>Invited People</h4>
                            <div id="invitedPeople">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Invite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="showInvitedPeopleModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Invited People</h4>
                    </div>
                    <div class="modal-body">
                        <div id="invitedPeople2">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <script src="/js/jquery.timepicker.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/js/jquery.timepicker.min.js"></script>
        <!--<script type="text/javascript" src="/js/datepair.js"></script>-->
        <script type="text/javascript">
            $('#eventTime .time').timepicker({
                    'showDuration' : true,
                    'timeFormat' : 'g:ia'
            });
            $('#eventTime .date').datepicker({
                    'format' : 'm-d-yyyy',
                    'autoclose' : 'true'
            });
            $('#respondTime .time').timepicker({
                    'showDuration' : true,
                    'timeFormat' : 'g:ia'
            });
            $('#respondTime .date').datepicker({
                    'format' : 'm-d-yyyy',
                    'autoclose' : 'true'
            });
            var dismissEvent = function(event_id) {
                $.ajax({
                        type: "POST",
                        url: "/events/dismiss",
                        data: {hidden:1, eventId: event_id},
                        success: function() {
                            $('#event-' + event_id).hide();
                        }
                });
            }
            var inviteByFavorite = function(user_id, event_id, image_url, name) {
                $.ajax({
                        type: "POST",
                        url: "/invitations/invite",
                        data: {eventId: event_id, id: user_id, type:"user"},
                        success: function() { 
                            console.log("sent post for invite favorite");
                        }
                });
                $('#invitedPeople').append('<div class="user"><img class="img-circle" height="42" width="42" src="' 
                    + image_url + '"><span>' + name 
                    + '</span><span id="star-' + user_id 
                    + '" data-favorite="1" onclick="changeFavorite(' + user_id 
                    + ')" <span class="star glyphicon glyphicon glyphicon-star'
                    + '" aria-hidden="true" title="Toggle favorite this person"></span></span></div>');
            }
            var showInvitedPeopleModal = function(id) {
                var invitedPeople = $('#invitedPeople2');
                invitedPeople.html('');
                $.ajax({
                        type: "POST",
                        url: "/events/getAttendingUsers",
                        data: {eventId:id},
                        success: function(attendingUsers) {
                            var eventStatus = $('#event-'+id).data('currentstate');
                            for(var i = 0; i < attendingUsers.length; i++) {
                                if(attendingUsers[i].email==='<%=user.email%>') {
                                    invitedPeople.append('<div class="user"><img class="img-circle" height="42" width="42" src="' + attendingUsers[i].image_url + '"><span>You</span></div>');
                                } else {
                                    invitedPeople.append('<div class="user"><img class="img-circle" height="42" width="42" src="' 
                                        + attendingUsers[i].image_url + '"><span>' + attendingUsers[i].name 
                                        + ((eventStatus!=0 && attendingUsers[i].status==1)?'<span class="label label-success">Attending</span>':((eventStatus!=0 && attendingUsers[i].status!=1)?'<span class="label label-danger">Not attending</span>':''))+'</span><span id="star-' + attendingUsers[i].user_id 
                                        + '" data-favorite="'+attendingUsers[i].is_favorite+'" onclick="changeFavorite(' + attendingUsers[i].user_id 
                                            + ')" <span class="star glyphicon glyphicon glyphicon-star'
                                    + (attendingUsers[i].is_favorite==1?"":"-empty")
                                    +'" aria-hidden="true" title="Toggle favorite this person"></span></span></div>');
                                }
                            }
                        }

                });

            }
            // does more than the function name
            var changeInviteModalEventId = function(id) {
                $('#inviteModalEventId').val(id);
                var invitedPeople = $('#invitedPeople');
                invitedPeople.html('');
                $.ajax({
                        type: "POST",
                        url: "/events/getAttendingUsers",
                        data: {eventId:id},
                        success: function(attendingUsers) {
                            var total = attendingUsers.length-1;
                            var responded_count = 0;
                            for(var i = 0; i < attendingUsers.length; i++) {
                                if(attendingUsers[i].email==='<%=user.email%>') {
                                    invitedPeople.append('<div class="user"><img class="img-circle" height="42" width="42" src="' + attendingUsers[i].image_url + '"><span>You</span></div>');
                                } else {
                                    if(attendingUsers[i].status!=0) responded_count++;
                                    invitedPeople.append('<div class="user"><img class="img-circle" height="42" width="42" src="' 
                                        + attendingUsers[i].image_url + '"><span>' + attendingUsers[i].name 
                                        + '</span><span id="star-' + attendingUsers[i].user_id 
                                        + '" data-favorite="'+attendingUsers[i].is_favorite+'" onclick="changeFavorite(' + attendingUsers[i].user_id 
                                            + ')" <span class="star glyphicon glyphicon glyphicon-star'
                                    + (attendingUsers[i].is_favorite==1?"":"-empty")
                                    +'" aria-hidden="true" title="Toggle favorite this person"></span></span></div>');
                                }
                            }
                            console.log("percent", (responded_count/total)*100);
                        }

                });
                $('#favoritePeopleButtons').html('');
                
                $.ajax({
                    type: "GET",
                    url: "/login/getFavoriteUsers",
                    success: function(favoriteUsers) {
                        for(var i = 0; i < favoriteUsers.length; i++) {
                            $('#favoritePeopleButtons').append('<span onclick="inviteByFavorite(' + favoriteUsers[i].id + ',' + id + ',' + '\'' + favoriteUsers[i].image_url + '\'' + ',' + '\'' + favoriteUsers[i].name + '\'' + ')" id="favoriteId-' + favoriteUsers[i].id + '" class="btn btn-default btn-xs">' + favoriteUsers[i].name + '</span>');
                        }
                    }
                });
            }
            var changeFavorite = function(favorite_id) {
                var favoriteStatus = $('#star-' + favorite_id).data('favorite');
                console.log(favoriteStatus);
                if( favoriteStatus == 0 ) {
                    $('#star-' + favorite_id).data('favorite', 1);
                    $('#star-' + favorite_id).toggleClass('glyphicon-star-empty');
                    $('#star-' + favorite_id).toggleClass('glyphicon-star');
                    $.ajax({
                            type: "POST",
                            url: "/login/setFavorite",
                            data: {"favoriteeId": favorite_id, "favorite": "true"},
                            success: function() { console.log("posted favorite"); }
                    });
                }
                else {
                    $('#star-' + favorite_id).data('favorite', 0);
                    $('#star-' + favorite_id).toggleClass('glyphicon-star-empty');
                    $('#star-' + favorite_id).toggleClass('glyphicon-star');
                    $.ajax({
                            type: "POST",
                            url: "/login/setFavorite",
                            data: {"favoriteeId": favorite_id, "favorite": "false"},
                            success: function() { console.log("posted favorite"); }
                    });
                }
            }
            var changeAttendState = function(id) {
                var invitationStatus = $('#event-' + id).find('.attendingButton').data('currentstate');
                if( invitationStatus == '0'  || invitationStatus == '2') {
                    $('#event-' + id).find('.attendingButton').data('currentstate', 1);
                    $('#event-' + id).find('.attendingButton').html('<span class="glyphicon glyphicon-ok grn" aria-hidden="true"></span>');
                    $.ajax({
                            type: "POST",
                            url: "/events/respond",
                            data: {status:1,eventId:id},
                            success: function(status) {
                                console.log("success?: " + status);
                            }
                    });
                } else if( invitationStatus == '1' ) {
                    $('#event-' + id).find('.attendingButton').data('currentstate', 2);
                    $('#event-' + id).find('.attendingButton').html('<span class="glyphicon glyphicon-remove rd" aria-hidden="true"></span>');
                    $.ajax({
                            type: "POST",
                            url: "/events/respond",
                            data: {status:2,eventId:id},
                            success: function(status) {
                                console.log("success?: " + status);
                            }
                    });
                }
            }
        </script>
    </body>
</html>
